@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
    background-color: #d5e1ef;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin: auto;
}

h1 {
    font-weight: 700;
    font-size: 21px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    color: hsl(218, 44%, 22%);
}
p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    padding-left: 5px;
    padding-right: 5px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.qr {
    background-color: white;
    padding: 15px;
    border-radius: 15px;

    width: 270px;
    height: 440px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    box-shadow: -5px 10px 10px rgba(165, 165, 165, .20);
}

img {
    height: 270px;
    border-radius: 10px;
}